// Variables
$menu-width: 275px;

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

#map {
  height: 100%;
}
/* Navigation Menu - Background */
.menu {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  background: #111;
  background-size: contain;

  .title {
    display: block;
    text-decoration: none;
    width: $menu-width;
    text-align: center;
    margin: 10px 0;
  }

  #search {
    width: $menu-width;
    padding: 0 15px;
  }
}

.locations-list {
  padding-left: 0;
  list-style: none;
}
/* Navigation Menu - List items */
.location {
  /* non-critical appearance styles */
  width: $menu-width;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.location a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.location a:hover {
  color: #286090;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(40,96,144,0.65) 100%);
}
/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  // background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* non-critical apperance styles */
  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;
}
/* Nav Trigger */
.menu-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="menu-trigger"] {
  /* critical positioning styles */
  font-size: 30px;
  /* Controls the size of the icon */
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-size: contain;
}
/* Make the Magic Happen */
.menu-trigger + label,
.site-wrap {
  transition: left 0.2s;
}

.menu-trigger:checked + label {
  left: $menu-width + 15px;
}

.menu-trigger:checked ~ .site-wrap {
  left: $menu-width;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
