$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.menu {display:none}
#menu-trigger-label {display: none}
// .site-wrap {display: none}
//.site-wrap {opacity: 0}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 4;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#return-link {
  text-decoration: none;
}


// InfoWindow Styles
.gm-style-iw {
  h3 {
    margin-top: 10px  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.foursquare-images {
  padding-top: 10px;
}

.foursquare-images a {
  padding-right: 5px;

  img {
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888888;
  }
}
