.idea
.vagrant
*.box

# Incorporate the .gitignore file from Web Starter Kit
project/node_modules
project/dist/
project/.tmp
project/bower_components
project/test/bower_components

# Exclude Firebase related log files
project/firebase-debug.log
